@font-face {
    font-family: "DavidLibre";
    src: local("DavidLibre"),
      /* url(../fonts/DavidLibre-Regular.ttf) format("truetype"); */
  }
  
  p {
    font-family: DavidLibre, serif;
    font-weight: bold;
  }
  
  .container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .column {
    height: max-content;
    min-height: 100px;
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    border: 2px solid #7d7d7d; /* Параметры границы */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .do-it-column {
    background-color: #fff0f04a;
  }
  
  .in-progress-column {
    background-color: #ff8d8a54;
  }
  
  .awaiting-review-column {
    background-color: #f5db325c;
  }
  
  .LOW_PRIORITY-column {
    background-color: #9def1a42;
  }
  
  .movable-item {
    border-radius: 5px;
    background-color: #00000080;
    height: 100px;
    max-width: 290px !important;
    /* max-width:  !important; */
    color: wheat;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  }
  